* {
    box-sizing: border-box;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transform: translate(-35px, -70px);
}

button {
    width: 10%;
    padding: 8px 12px;
    background-color: rgb(127, 225, 255);
    margin:  25px 0;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.output {
    display: flex;
    justify-content: center;
}

.jokes {
    font-size: 1.2rem;
    min-width: 600px;
    max-width: 50%;
    font-family: cursive;
    text-align: center;
}